#root {
  width: 100%;
  overflow: hidden;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #151515;
  text-transform: capitalize;
  letter-spacing: .024em;
  word-spacing: .05em;
}